.vscode/**
.vscode-test/**
src/**
!src/dashboard-template.html
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/.vscode-test.*
test-dashboard-server.js
node_modules/**
.github/**
*.vsix
README.ja.md